@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'), url('OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'), url('OpenSans-Regular/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --border-radius: 5px;
    --glass-bg: rgba(255, 255, 255, 0.3);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
}

html {
    height: 100%;
}

body {
    overflow: hidden;
}

.bg {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(170deg, #c8dcec, #8596ab);
}

.app {
    position: absolute;
    font-family: 'OpenSans-Regular';
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.albumart {
    border-radius: var(--border-radius);
    background-color: var(--glass-bg);
    padding: .6% .6% .6% .6%;
    height: 35vh;
    width: 35vh;
}

.controls-container {
    max-height: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
}

.controlbutton {
    width: 25px;
    border-radius: 100%;
    padding: 1.1% 1.1% 1.1% 1.1%;
    background-color: var(--glass-bg);
    cursor: pointer;
}

.controlbutton:hover {
    filter: brightness(.8);
}

.title,
.album,
.artist {
    text-align: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.album {}

.album,
.artist {
    font-size: .9rem;
}

#positionslider {
    width: 100%;
    background: var(--glass-bg);
}

.expandedContent {
    margin-top: 4%;
    background: var(--glass-bg);
    border-radius: var(--border-radius);
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 22vh;
    padding: .5% .5% .5% .5%;
    font-size: .8rem;
    text-align: center;
    overflow-y: scroll !important;
}

#playlist {
    display: none;
}

.expandedContent-title {
    font-size: .9rem;
    font-weight: bold;
    margin-top: .5%;
    margin-bottom: 1.2%;
}

.expandedContent-row {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background: var(--glass-bg-light);
    cursor: pointer;
    padding: 1% 1% 1% 1%;
}

.expandedContent-row:hover {
    background: var(--glass-bg);
}

.expandedContent-row-selected {
    background: var(--glass-bg);
}